.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: white;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .navlinks {
    position: absolute;
    width: 50%;
    right: 0px;
    top: 14vh;
    height: 100vh;
    border-top: 0.5px solid orange;
    border-bottom: 0.5px solid orange;
    border-left: 0.5px solid orange;
    background-color: rgba(0, 0, 0, 0.94);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    li {
      padding-left: 70px;
      opacity: 0;
    }
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav_active {
    transform: translateX(0%);
  }

  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
