.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    background-color: rgba(0, 0, 0, 0.829);
    margin-top: 0rem;
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    clip-path: circle(10rem at 110% -10%);
    -webkit-clip-path: circle(10rem at 110% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(120rem at 95% 5%);
    -webkit-clip-path: circle(120rem at 95% 5%);
    pointer-events: all;
    z-index: 1;
  }

  .nav-links .l1 {
    width: 100%;
    height: 11rem;
    top: 10%;
    position: absolute;
  }

  .nav-links .l2 {
    width: 100%;
    height: 11rem;
    top: 22%;
    position: absolute;
  }

  .nav-links .l3 {
    width: 100%;
    height: 11rem;
    top: 34%;
    position: absolute;
  }

  .nav-links li:hover {
    cursor: pointer;
  }

  .nav-links li {
    position: relative;
  }

  .nav-links li a {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-links li a:hover {
    color: rgb(255, 242, 0);
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
    top: 2%;
    transform: translate(-1%, -1%);
    cursor: pointer;
    z-index: 3;
    animation: SlideIn 1s ease-in;
    position: fixed;
  }

  .hamburger.open {
    opacity: 0.5;
    position: absolute;
    right: 4%;
    top: 4%;
    cursor: pointer;
    position: fixed;
  }

  .line1 {
    align-self: flex-end;
    width: 3.5rem;
    height: 0.1rem;
    background-color: white;
    margin: 1.2rem;
    margin-bottom: 0rem;
    transition: all 0.5s ease-out;
  }

  .line1.open {
    transform: rotate(-45deg) translate(1.2rem, 0.8rem);
    transition: 0.5s;
  }

  .line2.open {
    opacity: 0;
  }

  .line3.open {
    transform: rotate(45deg) translate(-1.1rem, -3rem);
    width: 3.5rem;
    transition: 0.5s;
  }

  .line2 {
    align-self: flex-end;
    width: 2rem;
    height: 0.1rem;
    background-color: white;
    margin: 1.2rem;
    margin-bottom: 0rem;
    transition: all 0.5s ease-out;
  }

  .line3 {
    align-self: flex-end;
    width: 1rem;
    height: 0.1rem;
    background-color: white;
    margin: 1.2rem;
    transition: all 0.5s ease-out;
  }
}
