@mixin mainColor() {
  color: rgb(255, 89, 0);
}

@mixin under_colorline($background) {
  .tab_links {
    margin-right: 50px;
    cursor: pointer;
    position: relative;
  }

  .tab_links::after {
    content: "";
    width: 0;
    height: 3px;
    background: $background;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
  }

  .tab_links:hover::after {
    width: 100%;
  }

  .tab_links.active_link::after {
    width: 50%;

    @media (max-width: 780px) {
      width: 0%;
    }
  }

  @media (max-width: 780px) {
    .tab_links.active_link:hover::after {
      width: 100%;
    }
  }
}

.top {
  height: 65vh;
  width: 100%;
  background-color: black;

  @media (max-width: 780px) {
    background-image: url(/img/LEO_0011.JPG);
    background-size: contain;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  .container {
    padding: 2% 3%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    nav ul {
      max-width: 100%;
      display: flex;

      li {
        list-style: none;
      }

      nav ul li a {
        color: #fff;
        font-size: 20px;
      }
    }
  }

  @include under_colorline(rgb(255, 89, 0));

  .header_text {
    margin-top: 14%;
    font-size: 2.4rem;
    color: #fff;

    @media (max-width: 780px) {
      margin-top: 30%;
    }

    h1 {
      margin-top: 2%;
      font-size: 6rem;

      span {
        @include mainColor();
      }
    }
  }
}
