/* <---------------------------------- Main ---------------------------> */
@mixin borderColor() {
  border: 4px solid rgb(255, 115, 0);
}

@mixin lists($display, $fsize) {
  .tab_contents ul {
    display: $display;
    flex-wrap: wrap;
    justify-content: start;
    width: min(85%, 1000px);

    li {
      margin: 10px 10px 10px 0;
      font-size: $fsize;
    }
  }
}

#about {
  padding: 50px 0;
  color: white;

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 780px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      img {
        display: none;
      }

      .tab_links {
        margin: 0 auto;
        @include borderColor();
        padding: 10px;
        text-align: center;
      }
    }

    .about_col_1 {
      padding-left: 5%;
      width: 35%;

      img {
        width: 80%;
        border-radius: 2%;
      }
    }

    .about_col_2 {
      width: 65%;

      .subtitle {
        @include borderColor();
        width: 300px;
        padding: 10px;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 3%;
        color: white;
        text-align: center;
        margin: 0 auto;

        @media (max-width: 780px) {
          width: 200px;
          font-size: 28px;
        }
      }

      .about_text {
        width: min(85%, 1000px);
        font-size: 30px;
        margin: 30px 10px 30px 0;
        color: white;

        @media (max-width: 768px) {
          font-size: 25px;
        }
      }

      .tab_title {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 10px 30px 0;

        h1 {
          font-size: 50px;
          font-weight: 600;
          margin: 15px 0;

          @media (max-width: 780px) {
            font-size: 30px;
            font-weight: 600;
            margin: 15px 0;
          }
        }
      }

      @include lists(flex, 35px);
      // skills
      @media (max-width: 768px) {
        @include lists(inline, 25px);
      }

      .tab_inline {
        @include lists(inline, 35px);
      }
      // Experience
      @media (max-width: 768px) {
        .tab_inline {
          @include lists(inline, 25px);
        }
      }

      .tab_links {
        @include borderColor();
        padding: 10px;
        text-align: center;
      }
    }
  }
}
